/* RecipeSearch Styles */
.recipe-search-container {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    background-color: white;
  }
  
  .form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto; 
  }
  
  .recipe-search-input {
    padding: 10px;
    font-size: 1.2rem; 
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 3rem;
    margin-right: 20px;
  }

  #search-btn:hover {
    background-color: #4CAF50; /* Darken the background color on hover */
  }


  @media (max-width: 767px){
    .form{
      flex-direction: column;
      width: 100%;
      gap: 5px;
    }

    #search-btn{
      width: 100%;
    }

    .recipe-search-input{
      width: 100%;
      margin: 0;
    }

    .recipe-search-container{
      width: 100%;
      margin-top: 30px;
    }
  }
  