:root {
  --textColor1: #008cff;
  --textColor2: #fff;
  --textColor3:   black;
  --highlight-bg:  black;
}

*{
  box-sizing: border-box;
}

.App{
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

html {
  margin: 0;
  width: 100%;
}

body {
    font-family: 'Lucida Grande', 'Helvetica', sans-serif;
    font-size: 18px;
    color: #0e0e30;
    background:  rgb(236, 216, 53);
    background-attachment: fixed; 
    width: 100%;
  }
  
  h3, h4 {
    margin-bottom: 0;
  }

  #page-body {
    margin: 8rem 3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #recipe-search {
    margin-top: 35px;
    height: auto;
    display:flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
  }  

  #recipe-search input{
    font-size: 25px;
    margin-bottom: 10px;
    height: 100%;
    flex-basis: 60%;
    margin-right: 20px;
    border-radius: 25px;
  }

  #recipe-search button {
    border-radius: 25px;
    font-size: 25px;
    padding: 10px 20px;
    margin: 0px;
    width: 100%;
    height: 100%;
    flex-basis: 25%;
  }
  
  @media screen and (max-width: 13366px){

  }

  @media screen and (max-width: 1024px) {

  }

  @media screen and (max-width: 768px) {

  }

  @media screen and (max-width: 480px) {
    
  }