:root {
  --textColor1: #008cff;
  --textColor2: #fff;
  --textColor3:   black;
  --highlight-bg:  black;

  /* Light Green */
  --primary-color: #66BB6A;
  /* Orange  */
  --accent-color: #FF7043 ;
  /* White */
  --background-color: #ffffff;


}

*{
  box-sizing: border-box;
}

.App{
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

html {
  margin: 0;
  width: 100%;
}

body {
    font-family: 'Lucida Grande', 'Helvetica', sans-serif;
    font-size: 18px;
    color: #0e0e30;
    background-attachment: fixed; 
    width: 100%;
  }
  
  h3, h4 {
    margin-bottom: 0;
  }

  #page-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--background-color);
    padding-left: 300px;
    padding-right: 50px;
    width: 100%;
  }

  .button {
    padding: 10px 20px;
    font-size: 1.2rem; 
    background-color: var(--primary-color); 
    color: #fff; 
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: 3rem;
    margin: 1px;
    width: 30%;
    height: 3rem;
  }

  #edit-recipe-form{
    width: 100%;
  }
 
  
  @media (max-width: 767px) {
    #page-body{
      padding: 0;
      justify-self: center;
    }
  }