/* Sidebar Styles */
#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px; /* Adjust as needed */
  height: 100%;
  background-color: #FFFFFF; /* White background */
  border-right: 1px solid rgba(0, 0, 0, 0.1); /* Subtle right border */
  box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.1); /* Box shadow for a slight shadow effect */
  z-index: 1000; /* Ensure sidebar is above other content */
}

.sidebar-logo {
  text-align: center; /* Center the logo horizontally */
  padding: 2rem 0; /* Adjust the top padding to position the logo higher */
}

.sidebar-logo img {
  max-width: 80%; /* Limit the width of the logo */
  display: block; /* Ensure the logo is centered */
  margin: 0 auto; /* Center the logo horizontally */
}

#sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-link {
  margin: 0;
  padding: 0;
}

.link {
  display: block;
  width: 100%; /* Ensure the buttons take the full width */
  padding: 1rem;
  color: #000000; /* Black color */
  text-decoration: none;
  font-family: 'Poppins', sans-serif; /* Use Poppins font */
  font-weight: 500; /* Use a slightly bold font weight */
  font-size: 1.4rem; /* Font size for links */
  transition: background 0.3s, color 0.3s; /* Add transition for smoother color change */
}

.link:hover {
  background: #66BB6A; /* Primary color background on hover */
  color: #FFFFFF; /* White text color on hover */
}
