.recipe-list-page-container{
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#recipe-list{
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
  justify-items: center;
}

.recipe-card {
  border: 1px solid #ccc;
  background: #fafafa ;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  width: 250px;
  height: 200px; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  transition: background-color 0.3s, box-shadow 0.3s; 
}

.recipe-card:hover {
  background-color: #e0e0e0; /* Light gray background color on hover */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle box-shadow effect */
}


.recipe-title {
  margin: 0;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  color: black;
}

.recipe-list-item{
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.recipe-card a {
  text-decoration: none;
  color: inherit;
}

.recipe-card a:hover {
  outline: none;
  background-color: #f0f0f0;
}

@media (max-width: 767px) {
  .recipe-list-page-container{
    margin: 0 auto;
    width: 80%;
  }
}

@media screen and (max-width: 480px) {
  .recipe-card{
    border-radius: 0px;
    border: none;
    height: 100px;
    width: 300px;
    margin: 0px;
  }

  .recipe-title{
    font-size: 1.4rem;
  }
}

